- @result.each_with_index do |tt, index|
  .tweet-wrapper
    - user = tt[:user]
    .row.user-block
      .user-image{style: 'float: left; padding-right: 20px;'}
        = image_tag(user[:avatar])
      .user-name
        = link_to " #{user[:name]}", user[:url], target: '_blank'
        .row
          .col-md-1
            Like #{user[:favorite_count]}
          .col-md-2
            Retweet #{user[:retweet_count]}
    .row.tweet-block
      = "#{index + 1} - #{tt['text']}"
      .record{ style: 'margin-top: 10px;' }
        Time: #{tt[:created_at].strftime('%H:%M %d %b %Y')}
    %hr