.p-dashboard
  .jumbotron
    .container
      %h1{style: 'text-align:center;'}
        Welcome to TwitSearch!
      .b-search-form.center_div
        = form_tag(root_path, method: 'get', class: 'form-inline', id: 'main-search-form') do
          = label_tag(:q, 'Search for:', style: 'width: 10%;')
          = text_field_tag(:q, params[:q], style: 'width: 70%;', class: 'form-control search-text-input')
          = submit_tag('Run', style: 'width: 15%;', class: 'btn btn-primary')
  .row
    .col-md-3
      .b-search-trends
        = render 'search/trends', :trends => @trends, :country_name => @country_name
      .b-search-trends-locations
        %br
        .dropdown.trend-locations
          %button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            Select your country:
            %span.caret
          %ul.dropdown-menu
            - @countries.each do |country_woeid, country_name|
              %li
                = link_to country_name, 'javascript:void(0)', class: 'trends-country', data: { woeid: country_woeid }

    .col-md-9
      .b-search-results
        - if @result.present?
          = render 'search/result', :result => @result
